'''Dependencies:'''
    react
    react-dom
    chart.js
    webpack-dev-server
    webpack-cli

'''Dev Dependencies:'''
    webpack
    @babel/core
    babel-loader
    @babel/preset-env
    @babel/preset-react
    html-webpack-plugin
